@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }
    .content {
        align-items: center;
        text-align: center;
    }
    header img {
        margin: 0 auto;
    }
    header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translate(-50%);
    }
    main {
        align-items: center;
    }
    #modal .content {
        width: 100%;
    }
    #modal .header h1 {
        margin-right: 35px;
    }
    #page-search-results main {
        margin-top: 80px;
    }
    #page-search-results .cards {
        grid-template-columns: 1fr 1fr;
    }
    #page-search-results header a {
        top: 15%;
    }
    #page-create-point header a {
        top: 15%;
    }
    #page-create-point legend {
        display: inline;
    }
    #page-create-point .field-group {
        flex-direction: column;
    }
    #page-create-point .field-group .field+.field {
        margin-left: 0;
    }
    #page-create-point .items-grid {
        grid-template-columns: 1fr 1fr;
    }
    #page-create-point button {
        width: 80%;
        margin: 40px 12% 0;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-width: 640px) {
    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}